<div class="jumbotron">
  <h1 class="display-4">Bienvenido!!!</h1>
  <p class="lead">
    Soy un estudiante de Ingeniería en sistemas computacionales de la Universidad autónoma de Aguascalientes.
    Mi principal rama de la programación son los sistemas web, los cuales he estado estudiando y practicando durante un
    año.
  </p>
  <hr class="my-4">
  <p>
    Mis habilidades y experiencia en programación son las siguientes:
  </p>
  <div class="container-fluid">
    <li>C Básico</li>
    <li>C++ Básico</li>
    <li>Java Básico</li>
    <li>Unix Básico</li>
    <li>Estructura de datos Básico</li>
    <li>HTML 5 Básico</li>
    <li>CSS Básico</li>
    <li>JavaScript Básico</li>
    <li>Angular Básico</li>
    <li>Kotlin Principante</li>
  </div>
</div>
