<div class="jumbotron">
  <h1 class="display-4">Bienvenido!!!</h1>
  <p class="lead">
    Soy un estudiante de Ingeniería en sistemas computacionales de la Universidad autónoma de Aguascalientes.
    Mi principal rama de la programación son los sistemas web, los cuales he estado estudiando y practicando durante un
    año.
  </p>
  <hr class="my-4">
  <p>
    Mis habilidades y experiencia en programación son las siguientes:
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lenguaje o tecnología</th>
        <th scope="col">Nivel de experiencia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>C</td>
        <td>Intermedio</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>C++</td>
        <td>Intermedio</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Estructura de datos</td>
        <td>Básico</td>
      </tr>
    <tr>
      <th scope="row">4</th>
      <td>Java</td>
      <td>Básico</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>UNIX</td>
      <td>Básico</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Redes</td>
      <td>Básico</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>HTML</td>
      <td>Intermedio</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>CSS</td>
      <td>Básico</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>JavaScript</td>
      <td>Básico</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Base de datos SQL</td>
      <td>Principiante</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Base de datos NoSql</td>
      <td>Principiante</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Php</td>
      <td>Básico</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Angular</td>
      <td>Básico</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>NodeJS</td>
      <td>Básico</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Electronica</td>
      <td>Básico</td>
    </tr>
  </tbody>
  </table>
</div>
