<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Blog</h5>
        <h6 class="card-title">Angular</h6>
        <p class="card-text">
          
        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">E-tienda</h5>
        <h6 class="card-title">Angular</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Calculadora de transistores</h5>
        <h6 class="card-title">Java</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tienda</h5>
        <h6 class="card-title">Php</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Calculadora de números complejos</h5>
        <h6 class="card-title">Java</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Magalaxy</h5>
        <h6 class="card-title">Java</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Space Invaders</h5>
        <h6 class="card-title">C++</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bubble shooter</h5>
        <h6 class="card-title">C++</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cubo de leds</h5>
        <h6 class="card-title">Ensamblador</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Simulador de memoria principal</h5>
        <h6 class="card-title">C++</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Amininistrador Unix</h5>
        <h6 class="card-title">BinBash</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ping Pong</h5>
        <h6 class="card-title">Ensamblador</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Banco </h5>
        <h6 class="card-title">C++</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aerolinea</h5>
        <h6 class="card-title">C</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pacman</h5>
        <h6 class="card-title">Phaser(JavaScript)</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Servidor con protocolos</h5>
        <h6 class="card-title">Linux</h6>
        <p class="card-text">

        </p>
        <a href="#" class="btn btn-primary">Obtener código</a>
      </div>
    </div>
  </div>
</div>