
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">
      Esté blog es un portafolio donde se muestran los proyectos personales realizados por mí. Está página 
      web cuenta con diferentes secciones, las cuales permite dar a conocer mis conocimientos y experiencia
      en programación.
    </p>
  </div>
</div>
<div class="container-sm">
  <ngb-carousel>
    <ng-template ngbSlide> 
      <div class="picsum-img-wrapper">
        <img src="../../assets/ProyectosPreV/E-tienda.png" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>E-tienda</h3>
        <p>Tienda virtual para pequeñas tiendas.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/ProyectosPreV/pacman.png" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Pacman</h3>
        <p>Juego tributo a pacman ejecutado desde el navegador.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<p></p>
<p></p>

<div class="container-small">
  <footer class="container">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="Audio">
        <button type="button" class="btn btn-secondary">
          <img src="../../assets/logoAcc/acc.png" alt="" srcset="" width="50" height="50">
        </button>
        <button type="button" class="btn btn-secondary" (click) = "start()">
          <img src="../../assets/logoAcc/on.png" alt="" srcset="" width="50" height="50">
        </button>
        <button type="button" class="btn btn-secondary" (click) = "pause()">
          <img src="../../assets/logoAcc/pausa.png" alt="" srcset="" width="50" height="50">
        </button>
        <button type="button" class="btn btn-secondary" (click) = "resume()">
          <img src="../../assets/logoAcc/play.png" alt="" srcset="" width="50" height="50">
        </button>
        <button type="button" class="btn btn-secondary" (click) = "cancelar()">
          <img src="../../assets/logoAcc/cancelar.png" alt="" srcset="" width="50" height="50">
        </button>
      </div>
    </div>
  </footer>
</div>